/* css document */
nav {
  right: 250px;
  display: inline;
  position: fixed;
  background: #1EAD00;
  z-index: 1000;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  padding-right: 20px;
}

nav ul {
  list-style: none;
  position: relative;
  float: left;
  margin: 0;
  padding: 0;
}

nav ul a {
  display: block;
  text-decoration: none;
  font-weight: 700px;
  line-height: 32px;
  padding: 0 15px;
  font-family: "HelveticaNeue", "HelveticaNeue", Helvetica, Arial, sans-serif;
  color: #333;
  font-size: 16px;
}

nav ul li {
  position: relative;
  float: left;
  margin: 0px;
  padding: 0px;
}

nav ul li.current-menu-item {
  background: #DDD;
}

nav ul li:hover {
  background: #7EC100;
}

nav ul ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0px;
  background: #27E000;
  border: thin #225AA7 solid;
  padding: 0px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 5px;
}

nav ul ul li {
  float: none;
  width: 200px;
}

nav ul ul a {
  line-height: 120%;
  padding: 10px 15px;
}

nav ul ul ul {
  top: 0px;
  left: 100%;
}

nav ul li:hover>ul {
  display: block;
}

#loaderDiv {
background: url("https://media.giphy.com/media/hxPKWYxyRixfq/giphy.gif") no-repeat center center fixed;
position: fixed;
z-index: 9999;
top: 0;
left: 0;
right: 0;
bottom: 0;
opacity: 0.25;
background-size: 120%;
background-color: #FFFFFF;
display: none;
}
